deepface
alembic
aniso8601
bcrypt
cffi
click
Flask
Flask-Bcrypt
flask-restplus
Flask-Script
Flask-Testing
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
pycparser
PyJWT
python-dateutil
python-editor
pytz
six
Werkzeug